# vim garbage
*~
.*.swp
.*.swo

# Mac garbage
.DS_Store
*.dSYM

# MooseDocs
site
python/MooseDocs/test/output
!**/doc/content/**/*.md
!**/doc/content/**/*.jpg
!**/doc/content/**/*.jpeg
!**/doc/content/**/*.gif
!**/doc/content/**/*.png
!**/doc/content/**/*.svg
!**/doc/content/**/*.ogg
!**/doc/content/**/*.webm
!**/doc/content/**/*.mp4
!**/doc/content/**/*.css
!**/doc/content/**/*.js
!**/doc/content/**/*.bib
!**/doc/content/**/*.woff
!**/doc/content/**/*.woff2
!python/MooseDocs/test/gold/**/*.json
!python/MooseDocs/test/gold/**/*.html
!python/MooseDocs/test/gold/**/*.tex
.ruby-version

# Ignore vscode local parameters
.vscode/*
